/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e3e3;
    color: #031a31d0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #031932d9;
    color: #b3b3b3;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 10%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
}

nav ul li {
    margin-left: 20px; /* Reduce el espacio entre los elementos */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d1d2d3;
}

.hero {
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    color: #031932d9;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    animation: fadeInDown 1s;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
    animation: fadeInUp 1s;
}

.hero .btn {
    padding: 10px 30px;
    background-color: #031932d9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: #777;
}

.features {
    background-color: #d1d1d1;
    text-align: center;
    padding: 60px 0;
}

.features .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .feature {
    position: relative;
    flex: 1 1 30%;
    margin: 20px;
    background-color: #ffffff; /* Color de fondo para cada feature */
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;
}

.features .feature:hover {
    transform: translateY(-10px);
}

.features .feature i {
    display: block;
    font-size: 48px;
    margin: 0 auto 20px;
    color: #0d365bd5;
}

.features .feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0e2d4e;
}

.features .feature p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.gallery {
    background-color: #dbdada;
    padding: 60px 0;
    text-align: center;
}

.gallery .gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery .gallery-grid img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery .gallery-grid img:hover {
    transform: scale(1.1);
}

.testimonials {
    background-color: #d6d0d0;
    text-align: center;
    padding: 60px 0;
}

.testimonials .testimonial {
    margin-bottom: 40px;
    animation: fadeIn 1s;
}

.testimonials .testimonial p {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
    color: #0d325de6;
}

.testimonials .testimonial h3 {
    font-size: 18px;
    font-weight: normal;
    color: #0d3064;
}


/* Estilos para la página "Acerca de Nosotros" */
.section {
    background-color: #d1d1d1;
    text-align: center;
    padding: 60px 0;
}

.section .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section .feature {
    position: relative;
    flex: 1 1 30%;
    margin: 20px;
    background-color: #ffffff; /* Color de fondo para cada feature */
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;
}

.section .feature:hover {
    transform: translateY(-10px);
}

.section .feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0e2d4e;
}

.section .feature p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

/* Estilos para la página "Contacto" */
.section {
    background-color: #d1d1d1;
    text-align: center;
    padding: 60px 0;
}

.section .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #0e2d4e;
}

.section p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin: 10px 0;
}

/* Estilos para la página "Precios" */
.section {
    background-color: #d1d1d1;
    text-align: center;
    padding: 60px 0;
}

.section .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section .feature h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #0e2d4e;
}

.section p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin: 10px 0;
}

/* Estilos para la página "Servicios" */
.section {
    background-color: #d1d1d1;
    text-align: center;
    padding: 60px 0;
}

.section .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section .service-section {
    position: relative;
    flex: 1 1 30%;
    margin: 20px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;
}

.section .service-section:hover {
    transform: translateY(-10px);
}

.section .service-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0e2d4e;
}

.section .service-section p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

/* Team Section Styles */
.team-member {
    position: relative;
    flex: 1 1 30%;
    margin: 20px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;
  }
  .section .team-member:hover {
    transform: translateY(-10px);
}
  .team-member img {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .team-member h3 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
  }
  
  .team-member p {
    font-size: 16px;
    color: #666;
  }


/* Styles for language selector */
.language-selector {
    margin-top: 20px;
    text-align: center;
  }
  
  .language-selector label {
    font-size: 16px;
    color: #333;
  }
  
  .language-selector select {
    font-size: 16px;
    padding: 8px 12px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .language-selector select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .language-selector select option {
    background-color: #fff;
    color: #333;
  }
  
  .language-selector select option:checked {
    background-color: #007bff;
    color: #fff;
  }
  
  .language-selector select option:hover {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

footer {
    background-color: #031932d9;
    color: #ccc;
    text-align: center;
    padding: 10px 0;
}

footer .social a {
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

footer .social a:hover {
    color: #fff;
}

/* Animaciones */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section {
    padding: 40px 0;
    animation: fadeIn 2s ease-out; /* Animación agregada */
}

/* Media Queries */

/* Estilos para dispositivos con un ancho de pantalla máximo de 600px */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 10px 0;
    }
    
    header .logo img {
        width: 20%;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        margin: 10px 0;
    }
    
    .hero h1 {
        font-size: 36px;
    }
    
    .hero p {
        font-size: 18px;
    }
    
    .features .feature {
        width: 90%;
        margin: 10px 0;
    }
    
    .gallery .gallery-grid img {
        width: 100px;
        height: 100px;
    }
}

/* Estilos para dispositivos con un ancho de pantalla mínimo de 768px */
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
    
    .sidebar {
        float: left;
        width: 25%;
    }
    
    .main-content {
        float: left;
        width: 75%;
    }
}

/* Estilos para dispositivos con un ancho de pantalla mínimo de 992px */
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

/* Estilos para dispositivos con un ancho de pantalla mínimo de 1200px */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
